/* all new (non webflow) pages should use this style sheet*/

:root {
  --primary-background: #181816;
  --primary-text: #eee4e4;
  --secondary-text: #181816;
  --accent: #8AB9DF;
  --accent-hover: #10274a;
  --on-accent: #000000;
  --red: #D63927;
  --light-red: #F76B5B;
  --blue: #195C80;
  --light-blue: #8AB9DF;
  --yellow:#F9C437;
  --light-yellow: #F1DCA3;
  --purple: #AD6DE3;
  --light-purple:#BC94DE;
}

@font-face {
  font-family: Pen;
  src: url(../fonts/pen_2/Pen2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url(../images/cursors/default.png), default; */
}

body {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 200;
  line-height: 1.6;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--primary-background);
}
.content {
  width: 80vw;
  margin: auto;
}
/* #region loading*/
#loader {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.path {
  stroke: none;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

/* a {
  cursor: url(../images/cursors/pointer.png), pointer !important;
} */
img {
  pointer-events: none;
}
h1 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Geologica, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}

h2 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

h3 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

h4 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

h6 {
  color: var(--primary-text);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

p {
  color: var(--primary-text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  position: relative;
  z-index: 10;
}
.gdiv {
  border: 1px solid rgb(56, 55, 55);
}
.g100 {
  grid-column: span 4 / span 4;
}
.g75 {
  grid-column: span 3 / span 3;
}
.g50 {
  grid-column: span 2 / span 2;
}
.g25 {
  grid-column: span 1 / span 1;
}

@media (max-width: 700px) {
  .g75 {
    grid-column: span 4 / span 4;
  }
  .g50 {
    grid-column: span 4 / span 4;
  }
  .g25 {
    grid-column: span 4 / span 4;
  }
}

/* end grid styles */

/* positon styles */
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.wrap{
  flex-wrap: wrap;
}
.center-vertical {
  justify-content: center;
}
.center-horizontal {
  align-items: center;
}
.fill {
  justify-content: space-between;
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

/* text accents */
.accent-text {
  color: var(--accent);
}
.caption-text {
  color: #c5c0c0;
}
.tab {
  padding-left: 10px;
}

.relative{
  position: relative;
}
.halftone::before{
  position: absolute;
  content: '';
  background: radial-gradient(2px at center, rgba(140, 140, 177, 0.2), var(--primary-background));
  background-size: 5px 5px;
  background-repeat: repeat;
  width: 200vw;
  height: 110%;
  left:-300px;
  z-index:-1;
  mask-image: linear-gradient( rgb(0 0 0 / 0) 0%, rgb(0 0 0) 15%,rgb(0 0 0)85%, rgb(0 0 0 / 0)100%);
}

.logo-icon {
  height: 35px;
  &::before {
    content: "";
  }
}
.logo-icon:hover {
  &::before {
    border: none;
    background-color: #fee840c8;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: -1;
    z-index: -1;
    transform: rotate(-2deg);
    mix-blend-mode: multiply;
  }
}

header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: var(--primary-text);
  position: relative;

  &:before {
    content: "";
  }
}

nav :hover {
  &::before {
    border: none;
    background-color: #fee840c8;
    mix-blend-mode: hard-light;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* cursor: pointer; */
}

.mobile-nav {
  position: relative;
  display: none;
  flex-direction: row;
  z-index: 2;
}

.mobile-links {
  display: none;
  /* background-image: url(../images/cardboard.png); */
  background-color: var(--primary-background);
  height: 150vh;
  padding: 90px 50px;
  position: absolute;
  right: -30px;
  top: -30px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 40px;
  padding-top: 15px;
  z-index: 10;
}

.menu-icon:before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 0.2em;
  background: black;
  box-shadow:
    0 0.5em 0 0 black,
    0 1em 0 0 black;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: spa;
  margin-top: 80px;

  .link {
    padding:20px 20px 0px 0px
  }
  a{
    text-decoration: none;
    color: var(--primary-text);
    line-height: 32px;
  }
}



.project-header {
  width: 100%;
  padding: 4px;
}

.active-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--accent);
  bottom: -5px;
  left: 0;
  transform: rotate(-5deg);
  border-radius: 100px;
}

#clikd-features {
  justify-content: center;
  align-items: center;

  li {
    list-style-type: disc;
    list-style-position: inside;
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    flex-shrink: none;
    gap: 30px;
  }

  h3 {
    color: var(--accent);
    border-bottom: 2px double var(--accent);
    width: fit-content;
    padding-bottom: 2px;
    font-size: 35px;
  }
}

.feature-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.feature-img {
  width: 25%;
}

.clikd-avatar h3::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--accent);
  bottom: -5px;
  left: 0;
  transform: rotate(-5deg);
  border-radius: 100px;
}

.clikd-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(2px 2px 0px var(--accent));
  border: 2px solid var(--accent);
}

@media (max-width: 600px) {
  #clikd-features {
    li {
      flex-direction: column;
      align-items: center;
    }
  }

  .feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .feature-img {
    width: 45%;
  }
}


.overview {
  display: flex;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;

  .left {
    width: 50%;
  }
}

.process {
  display: flex;
}

.icon {
  width: 40px;
  margin: 0px 10px 0px 0px;
  border-radius: 100%;
}

.icon:hover {
  filter: drop-shadow(0px 0px 15px #646161) drop-shadow(0px 0px 10px #a09d9d);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 24px auto;
  height: 45px;
  align-items: center;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  height: 70vh;
  width: 100vw;
  margin-left: -10vh;
  display: flex;
  align-items: center;
  justify-items: right;
  background-image: url(../images/home/heroimg-blue.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* mix-blend-mode: multiply; */
}

.intro-text {
  margin-left: 0%;
  margin-right: auto;

  width: 80%;
  height: 100%;
  max-width: 700px;
  background-image: url(../images/home/text-bubble-blue.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 36px;

  h1 {
    color: var(--primary-background);
    font-size: 34px;
    text-align: center;
    padding: 0px 25px;
  }

  h2 {
    color: var(--primary-background);
    font-size: 24px;
    text-align: center;
    padding: 0px 25px;
  }
}

#floating-buttons {
  position: absolute;
}
.floating {
  display: block;
  height: 32px;
  width: 32px;
}
#email,
#git,
#linkedin,
#game,
#insta {
  position: relative;
}

#email {
  top: 290px;
  left: -230px;
}
#git {
  top: 270px;
  left: 60px;
}
#linkedin {
  top: 80px;
  left: 350px;
}
#game {
  top: -300px;
  left: 70px;
}
#insta {
  top: -300px;
  left: -170px;
}
.divider {
  content: "";
  position: relative;
  width: 50%;
  height: 3px;
  background: var(--accent);
  bottom: -5px;
  left: 0;
  /* transform: rotate(2deg); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 100px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 45%;
}

/* .gallery-item:nth-child(even) {
  flex-direction: row-reverse;
} */

.motion-overview {
  width: 40%;
  margin-top: 40px;
}

#gallery {
  display: none;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  columns: 4;
  text-align: center;
}

.imgContainer {
  display: inline-block;
  text-align: center;
}

#gallery img {
  pointer-events: none;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  float: left;
}

@media only screen and (max-width: 960px) {
  #gallery {
    columns: 3;
    width: 90%;
    overflow-y: hidden;
  }

  .imgContainer {
    width: 100% !important;
    height: fit-content !important;
  }
}

@media only screen and (max-width: 750px) {
  #gallery {
    columns: 2;
    width: 90%;
    overflow-y: hidden;
  }

  .imgContainer {
    width: 100% !important;
    height: fit-content !important;
  }
}

@media only screen and (max-width: 600px) {
  #gallery {
    columns: 1;
    width: 90%;
    overflow-y: hidden;
  }

  .imgContainer {
    width: 100% !important;
    height: fit-content !important;
  }
}

/* gallery slide in */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: 100px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: 100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.imgContainer:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

.imgContainer img {
  width: 88%;
  display: block;
  float: right;
}

.paletteHorizontal {
  clear: both;
  height: 5%;
  width: 90%;
}

.paletteVertical {
  display: flex;
  flex-direction: column;
  float: auto;
  height: 90%;
  width: 20px;
}

.swatchHorizontal {
  background-color: black;
  float: left;
  aspect-ratio: 1/1;
  height: 10px;
  margin: 5px 5px 5px;
  border-radius: 25px;
}

.swatchVertical {
  background-color: black;
  float: right;
  aspect-ratio: 1/1;
  height: 10px;
  margin: 5px 5px 5px;
}

.dataHorizontal,
.dataVertical {
  font-size: 20px;
  color: var(--accent);
  font-family: "Pen", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dataHorizontal {
  float: left;
  height: 20px;
  width: 200px;
  writing-mode: horizontal-tb;
  text-orientation: sideways;
}

.dataVertical {
  float: left;
  height: 50%;
  width: 20px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.hidden {
  display: none;
}

/* .art-gallery-item:nth-child(even) {
  flex-direction: row-reverse;
} */
.art-full {
  max-width: 1000px;
  height: 100%;
  max-height: 700px;

  img {
    height: 100%;
    max-height: 650px;
    object-fit: contain;
    overflow: hidden;
  }
}

.art-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 50%;

  img {
    max-height: 300px;
    margin: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

.project-thumbnail {
  width: 80%;
  max-width: 1000px;
  margin-bottom: 10px;

  img {
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
}

.project-desc {
  display: block;
  width: 100%;
  text-align: left;
}



/* Sketch button 
::after adds offset border
hover::before adds highlight */
.ctaBtn {
  padding: 4px;
  display: inline-block;
  border: 2px solid var(--accent);
  font-size: 16px;
  border-radius: 2% 6% 5% 4% / 1% 1% 3% 1%;
  letter-spacing: 0.2ch;
  margin-top: 10px;
  color: var(--accent);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

  &::after {
    content: "";
    border: 2px solid var(--accent);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.02) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.ctaBtn:hover {
  color: var(--accent-hover);

  &::before {
    background-color: #fee840e1;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: -0.1;
    z-index: -1;
    transform: rotate(-1.5deg);
    mix-blend-mode: screen;
  }
}

/* case studies */
.overview-points{
  padding:10px;
  border-radius: 25px;
  margin:5px;
  width:20%;
  aspect-ratio: 1;
  b{
    color:var(--accent)
  }
}

.method{
  padding:10px;
  border-radius: 8px;
  background-color: var(--light-blue);
  margin:5px;
  width:min-content;
  a{
    color:var(--secondary-text);
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
  }
  p{
    color:var(--secondary-text);
    text-align: center;
  }
}
/* kalro */
.styleGuide {
  width: 70%;
  filter: drop-shadow(4px 4px 2px #d5d5df);
}


hr {
  color: #665655;
}

iframe .motion-item {
  width: 416px;
  height: 250px;
}

/* aboutpage */

.about {
  width: 60%;
}

.resume {
  width: 100%;
  margin: 10px 0px;

  h3 {
    padding: 4px 0px;
  }
}

.skills {
  padding: 10px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }

  li {
    width: fit-content;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    color: var(--secondary-text);
    border-radius: 25px;
  }
}

#skills-web {
  li {
    background-color: var(--light-blue);
  }
}

#skills-design {
  li {
    background-color: var(--light-purple);
  }
}

#skills-motion {
  li {
    background-color: var(--yellow);
  }
}

#skills-code {
  li {
    background-color: var(--light-red);
  }
}

.experience-item {
  margin: 16px 0px;

  li {
    list-style-type: disc;
    list-style-position: inside;
     color: var(--primary-text);
  }
}

@media screen and (max-width: 991px) {
  .intro {
    width: 100vw;
    margin-left: -10vw;
  }

  .intro-text {
    width: 65%;
    background-size: fill;
  }

  .gallery-item,
  .art-gallery-item {
    flex-direction: column;
    gap: 10px;
    height: fit-content;
  }

  .project-thumbnail {
    height: fit-content;

    img {
      height: fit-content;
    }
  }

  .project-desc {
    margin: 0px;
  }

  .art-gallery-item {
    width: 100%;
    height: fit-content;
  }

  .gallery-item:nth-child(even),
  .art-gallery-item:nth-child(even) {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  iframe {
    width: 100%;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 860px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 100vw;
    margin-left: -10vw;

    h1 {
      line-height: 30px;
    }

    h2 {
      line-height: 30px;
    }
  }
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
    margin-left: 0px;
    margin-top: 120px;
    height: 60vh;
    justify-content: start;
    align-items: start;
    background-position: bottom;
    background-image: url(../images/home/heroimg-blue-mobile.png);
  }

  .intro-text {
    margin-top: -20%;
    width: 100%;

    h1 {
      line-height: 30px;
    }

    h2 {
      line-height: 30px;
    }
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .art-gallery {
    gap: 0px;
  }

  .gallery-item {
    align-items: normal;
  }

  .project-thumbnail {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
    border-radius: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 50px;

    img {
      height: 100%;
      width: 100%;
      padding: 0px;
      object-fit: cover;
    }
  }

  header nav a {
    margin: 10px 10px 0 0;
  }


  .mobile-nav {
    display: none;
  }
}

@media (max-width: 500px) {
  .intro-text {
    h1 {
      font-size: 20px;
      margin: 0px;
      line-height: 30px;
    }

    h2 {
      font-size: 16px;
      margin: 0px;
      line-height: 20px;
    }
  }

  header {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
}

@media (max-width: 400px) {
  .intro {
    margin-top: 10px;
  }

  .intro-text {
    h1 {
      font-size: 15px;
      margin: 0px;
      line-height: 20px;
    }

    h2 {
      font-size: 13px;
      margin: 0px;
      line-height: 20px;
    }
  }
}
